 @import url('https://fonts.googleapis.com/css2?family=Roboto'); 
body {
    font-family: 'Roboto', sans-serif !important;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
a.nav-link {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.8px;
}
ul.navbar-nav {
    gap: 12px;
}
a.nav-link.active {
    border-bottom: 3px solid #0fa2dd;
}
.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}
.section-team .single-person {
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
}
.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}
.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #005187;
}
.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}
.section-team .single-person:hover {
    background: linear-gradient(to bottom right, #12C3D2, #2edfb4);
}
.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}
.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}
.section-team .single-person:hover .full-name, .section-team .single-person:hover .speciality {
    color: #fff;
}
section.cat_section {
    background: url(https://culturacientifica.com/app/uploads/2013/06/1349915568251.jpg);
    background-size: cover;
    height: 300px;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008c;
    background-blend-mode: overlay;
}
section.cat_section a.btn {
    font-size: 25px;
    line-height: 1!important;
    font-weight: 900!important;
    color: white;
}
a.btn.active {
    background: aliceblue;
    color: #000 !important;
    border-color: aliceblue;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.container.edufair-slider-text {
    text-align: center;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px !important;
    background-color: aliceblue;
    border: 1px solid #ddd;
}
.pull-right {
    float: right!important;
}
.edufair-course-1x {
    padding-top: 70px;
}
a {
    text-decoration: none;
}
.logo_img {
    width: 80px;
}
.product-title {
    text-align: center;
    padding: 1.5rem 0rem 1rem;
    margin: .9rem 1.2rem 0;
    border-radius: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.product-section .card:hover, .product-title {
    background: #478efb;
    color: #fff;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.product_dics .list-unstyled  li {
    font-size: .9rem;
    font-weight: 700;
    color: #333;
    padding-bottom: 4px;
}
.products-section .card-body img {
    object-fit: contain;
    object-position: center;
    min-width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    aspect-ratio: 2/1;
}
.product_dics .list-unstyled li span {
    float: right;
    text-align: left;
    width: 7rem;
    display: block;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
}
.view-btn {
    text-align: center;
}
.buy-btn a {
    color: #fff!important;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}
.card-footer.product-footer {
    background: none;
    border: none;
}
.buy-btn {
    background-color: #8ac744;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2rem 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    align-items: center;
}
.text-green {
    color: #478efb!important;
    font-weight: 700!important;
}
li.breadcrumb-item a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
h2.main_heading {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
ol.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.inner-banner.p-0.product-banner_prdct_view {
    height: 215px;
    display: flex;
    background: url(https://culturacientifica.com/app/uploads/2013/06/1349915568251.jpg);
    background-size: cover;
    background-color: #0000008c;
    background-blend-mode: overlay;
    align-items: center;
    background-position: right;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    color: #fff;
    content: "/" !important;
    font-weight: 800;
}
.breadcrumb-item.active {
    color: rgb(15 162 221);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.product-details li {
    padding: 10px;
    display: table-row;
    font-size: 1.2rem;
    color: #f70606 !important;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 2rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.product-details li span {
    display: contents !important;
    /* display: table-cell; */
    padding-left: 3rem;
    color: #eb0202;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
th {
    font-family: 'Roboto', sans-serif;
}
.product-button {
    text-align: start;
}
.btn:hover {
    color: #fff;
    background-color: #0fa2dd;
    border-color: #0fa2dd;
}
.quick-inquiry a {
    font-size: 1.2rem;
    color: #164975;
    margin: 1rem 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background: #8ac744;
    color: #fff;
    padding: .8rem 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.product-details, .thank-you-table .table {
    border-collapse: collapse;
}
.product-description {
    border: 1px solid #9f9f9f;
    margin: 1rem 0;
    padding: 0 1rem;
    border-radius: 10px;
}
.product-description table {
    padding-bottom: 0;
    margin-bottom: 0;
}
.product-description td {
    font-size: .9rem;
    padding: 0 .5rem;
    width: 31%;
}
.product-description .input-group {
    width: 8rem;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.product-description th {
    font-size: .9rem;
    font-weight: 700;
    padding: .5rem;
    width: 15rem;
    color: #164975;
}

.stackshow {
    margin-bottom: 27px;
}



input {
    border: none !important;
    background: none !important;
}
.input-group-append {
    background: none !important;
    width: 22%;
}
span.input-group-text {
    background: none !important;
    color: #33475b !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    font-size: 28px;
}
.input-group.mb-3, .input-group.mb-2 {
    border-bottom: 1px solid #33475b47;
    padding: 0px;
}
.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_from h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.login_row {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2) !important;
    border-radius: 5px !important;
    overflow: hidden;
    margin: 50px 0px;
}
.login_from {
    
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
form#loginForm {
    width: 74%;
    display: grid;
    gap: 17px;
}
.login_btn {
    width: 100%;
    background: #34485c !important;
    color: white !important;
    height: 50px;
    width: 50%;
}
header {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background: white;
}
.accordion-button:not(.collapsed) {
    background: #f1f1f1;
    font-weight: 700;
    letter-spacing: 0.8px;
}
button:focus:not(:focus-visible) {
    outline: none !important;
    box-shadow: none;
}
.accordion-item {
    box-shadow: none !important;
    margin-bottom: 20px;
    border: none;
}
.accordion-body {
    background: #ffffff;
    box-shadow: 0 14px 17px rgba(0,0,0,.04);
    border-radius: 0 0 10px 10px;
    padding: 20px 25px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #333;
}
button.accordion-button.collapsed {
    background: #f1f1f1;
    border-radius: 0 0 0 0;
    border: none;
    text-align: start;
    padding: 0 22px;
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    margin: 0;
}

.map-cont {
    padding: 20px;
    background: #f1f1f1;
    border-radius: 10px;
    margin-top: 80px;
}
h6.cont-domain {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0,0,0,.8);
}
p.Fuerteventura {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333;
}
.facilities {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0,0,0,.8);
}
section.about_f_section {
    min-height: 320px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.sub-title {
    color: #fff;
    font-size: 18px;
}
h1.heading-title.size-default {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
    margin-top: 20px;
}
span.c-secondary {
    color: #19774a;
    font-weight: 800;
}
h2.heading-title.size-default {
    font-weight: 600;
    text-align: center;
}
.about_s_section span.sub-title {
    color: #212529 ;
    text-align: center;
    display: block;
}
.box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 97%;
    margin: auto;
}

.opal-icon-e-pharmacy::before {
    content: "î€£";
}
.featured-box-wrapper .featured-box-icon i:before {
    display: block;
    z-index: 2;
    position: relative;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
h3.featured-box-title.typo-heading {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
p.featured-box-description {
    font-size: 16px;
    color: #7d879c;
    font-weight: 400;
    letter-spacing: 0;
}
.featured-box-wrapper .featured-box-icon i {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 52px;
    font-size: 3.25rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.featured-box-wrapper i:after {
    background-color: #beebf6;
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 1;
    top: 1PX;
    left: -20px;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.featured-box-wrapper:hover .featured-box-icon i:after {
    opacity: 0;
    top: 0;
    left: 0;
}

