{% extends 'base.html' %} {% block content %}
<section class="section-team">
  <div class="university-1x">
    <div class="edufair-course-1x university-course-1x">
      <div class="container">
        <!-- Start Header Section -->
        <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-12">
            <div class="header-section">
              <h3 class="small-title">Our Experts</h3>
              <h2 class="title">Let's meet with our Team Members</h2>
            </div>
          </div>
        </div>
        <!-- / End Header Section -->
        <div class="row">
          <!-- Start Single Person -->
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="single-person">
              <div class="person-image">
                <img src="https://www.allmpus.com/allmpus.com/images/online-course/2.jpg" alt="" />
                <span class="icon">
                  <i class="fa-solid fa-people-group"></i>
                </span>
              </div>
              <div class="person-info">
                <h3 class="full-name">Atish Rodge</h3>
                <span class="speciality"> Director</span>
              </div>
            </div>
          </div>
          <!-- / End Single Person -->
          <!-- Start Single Person -->
          <div class="col-sm-6 col-lg-3 col-md-3 col-xl-3">
            <div class="single-person">
              <div class="person-image">
                <img src="https://www.allmpus.com/allmpus.com/images/online-course/1.jpg" alt="" />
                <span class="icon">
                  <i class="fa-solid fa-people-group"></i>
                </span>
              </div>
              <div class="person-info">
                <h3 class="full-name">Mona Rodge</h3>
                <span class="speciality">Director</span>
              </div>
            </div>
          </div>
          <!-- / End Single Person -->
          <!-- Start Single Person -->
          <div class="col-sm-6 col-lg-3 col-md-3 col-xl-3">
            <div class="single-person">
              <div class="person-image">
                <img src="https://www.allmpus.com/allmpus.com/images/online-course/3.jpg" alt="" />
                <span class="icon">
                  <i class="fa-solid fa-people-group"></i>
                </span>
              </div>
              <div class="person-info">
                <h3 class="full-name">Girish Hatnapure</h3>
                <span class="speciality">Head of R&amp;D </span>
              </div>
            </div>
          </div>
          <!-- / End Single Person -->
          <!-- Start Single Person -->
          <div class="col-sm-6 col-lg-3 col-md-3 col-xl-3">
            <div class="single-person">
              <div class="person-image">
                <img src="https://www.allmpus.com/allmpus.com/images/online-course/4.jpg" alt="" />
                <span class="icon">
                  <i class="fa-solid fa-people-group"></i>
                </span>
              </div>
              <div class="person-info">
                <h3 class="full-name">Ashish Keche</h3>
                <span class="speciality">Head of QC &amp; QA</span>
              </div>
            </div>
          </div>
          <!-- / End Single Person -->
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
