{% extends 'base.html' %} {% block content %}

<div class="container my-5">
  <div class="searchdiv text-center w-75 mx-auto my-5">
    <form action="{% url 'SearchProductnoapi' %}" method="post">
      {% csrf_token %}
      <input type="text" name="searchinp" class="form-control border" onkeyup="func11()" value="" placeholder="Search Products" id="srcinp" required />
      <br />
      <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      async function func11(){
        let url = '{% url "search" %}'
        let val = document.getElementById('srcinp').value 
          await axios.get(url+"/"+val).then((res)=>{
            console.log(res.data)
            document.getElementById('fetchdata').innerHTML=res.data
          })
      }
    </script>
  </div>
  <hr />

  <div class="container">
    <div class="row" id="fetchdata">

    </div>
  </div>


  <div class="row my-5">
    {% for products in data %}
    <div class="col-md-3 stackshow" data-stock="Please Enquire">
      <div class="card">
        <a class="product-title text-decoration-none" href="#"> <h5 class="card-title">{{products.product_name}}</h5> </a>
        <div class="card-body">
          <picture>
            <img src="{{products.product_image.url}}" class="img-fluid w-100" alt="Bacitracin" />
          </picture>
        </div>
        <div class="card-footer product-footer">
          <div class="product_dics">
            <ul class="list-unstyled">
              <li>CAT. No.<span>{{products.cat_no}}</span></li>
              <li>CAS. No.<span>{{products.cas_number}}</span></li>
              <li>Mol. F.<span>{{products.molecular_formula}}</span></li>
              <li>Mol. W.<span>{{products.molecular_weight}}</span></li>
              <li class="text-green">Stock Status:<span class="text-green">{{products.inventory_status}}</span></li>
            </ul>
          </div>
          <div class="col-12">
            <div class="buy-btn">
              <div class="view-btn">
                <a href="{% url 'product_view' products.slug_id %}"><i class="fa-regular fa-eye"></i> View </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  var getlink = document.getElementById("searchpage");
  getlink.classList.add("active");
</script>

{% endblock %}
